automium==0.2.6
automium-web==0.1.1
boto==2.48.0
bottle==0.12.13
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
codegen==1.0
concrete==4.14.0
decorator==4.1.2
defusedxml==0.5.0
dj-database-url==0.4.2
Django==1.11.4
django-allauth==0.33.0
django-autoslug==1.9.3
django-braces==1.11.0
django-contrib-comments==1.8.0
django-el-pagination==3.1.0
django-social-share==1.1.2
Flask==0.12.2
gunicorn==19.7.1
humanfriendly==4.4.1
idna==2.6
iso639==0.1.4
itsdangerous==0.24
Jinja2==2.9.6
layout==0.2.5
legacy==0.1.6
loginform==1.2.0
lxml==3.8.0
MarkupSafe==1.0
networkx==1.11
oauthlib==2.0.2
olefile==0.44
patterns==0.3
Pillow==4.2.1
psycopg2==2.7.3.1
pycountry==1.20
python-http-client==3.0.0
python3-openid==3.1.0
pytz==2017.2
redis==2.10.6
requests==2.18.4
requests-oauthlib==0.8.0
sendgrid==5.1.0
setupfiles==0.0.50
six==1.10.0
thrift==0.10.0
urllib3==1.22
VaLID==1.0.2
Werkzeug==0.12.2
whitenoise==3.3.0
