{% extends "base.html" %}

{% block content%}
<div class="w3-main" style="margin-left:250px">

  {% for new in news_list %}
  <div class="w3-row w3-padding-64">
    <div class="w3-container">
      <div class="w3-container">
        <h3><a href="{% url 'news-details' new.id %}" class="w3-text-teal w3-hover-white">{{ new.title }}</a></h3>
        <p>{{ new.content|truncatewords:25 }}</p>
          <a href="{% url 'news-details' new.id %}" class="w3-text-teal w3-hover-white">Read more</a>
      </div>
    </div>
  </div>
 {% endfor %}
</div>
{% endblock %}

