{% extends 'base4.html' %}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<style>
  body {
    padding-top: 15px;
    font-size: 12px
  }
  .main {
    max-width: 320px;
    margin: 0 auto;
  }
  .login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
            margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
  }
  .hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  h3 {
    text-align: center;
    line-height: 300%;
  }
</style>
{% block side %}

{% endblock %}
{% block content %}
<div class="col-xs-12" style="height:150px;"></div>
<div class="container">
  <div class="row">

    <div class="main">

      <h3>Please Log In, or <a href="/account/signup/">Sign Up</a></h3>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <a href="/accounts/facebook/login/?process=login" class="btn btn-lg btn-primary btn-block">Facebook</a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <a href="/accounts/google/login/?process=login" class="btn btn-lg btn-info btn-block">Google</a>
        </div>
      </div>
      <div class="login-or">
        <hr class="hr-or">

      </div>

      <form role="form" method="POST" action="" id="login_form">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_login">Username or email</label>
          <input input type="text" name="login" required="" placeholder="Username" autofocus="autofocus" id="id_login" class="form-control">
        </div>
        <div class="form-group">
          <a class="pull-right" href="/account/password/reset/">Forgot password?</a>
          <label for="id_password">Password</label>
          <input type="password" name="password" required="" placeholder="Password" id="id_password" class="form-control">
        </div>
        <div class="checkbox pull-right">
          <label>
            <input type="checkbox" name="remember" id="id_remember">
            Remember me </label>
        </div>
        <button type="submit" class="btn btn btn-primary">
          Log In
        </button>
      </form>

    </div>

  </div><div class="col-xs-12" style="height:300px;"></div>

</div>
{% endblock %}