<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

#footer {
    border-top: 5px solid #CDB380;
    background: #333 none repeat scroll 0% 0%;
    padding-top: 30px;
    margin-top: 60px;
    clear: both;
    color: #AAA;
    display: block;
}

#footer .widgettitle {
    margin: 0px;
    padding: 0px 0px 15px;
    border-bottom: medium none;
}
#footer h4 {
    color: #FFF;
}

#footer ul {
    list-style: outside none none;
}

#footer li {
    padding: 7px 0px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    margin: 0px;
}

#footer li a {
    color: #DDD;
}

#sub-floor {
    color: #AAA;
    background: #031634 none repeat scroll 0% 0%;
    padding: 10px 0px;
}


</style>

<footer id="footer" class="site-footer">
    <div id="footer-widgets">

        <div class="container">

            <div id="footer-wrapper">

                <div class="row">
                    <div class="col-sm-6 col-md-2">
                        <div id="meta-3" class="widget widgetFooter widget_meta">
                            <h4 class="widgettitle">Importent Page :</h4>
                            <ul>
                                <li><a href="/"><i class="fa fa-home fa-fw"></i> Home</a></li>
                                <li><a href="#"><i class="fa fa-link"></i>   Privacy Policy</a></li>
                                <li><a href="#"><i class="fa fa-envelope fa-fw"></i> Contact Us</a></li>
                            </ul>
                        </div>      </div> <!-- end widget1 -->

                    <div class="col-sm-6 col-md-2">
                        <div id="recent-posts-3" class="widget widgetFooter widget_recent_entries">
                            <h4 class="widgettitle">Our social media :</h4>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
                                </li>
                                <li>
                                    <a href="http://www.google.com/" target="_blank"><i class="fa fa-google"></i> Google</a>
                                </li>
                            </ul>
                        </div>            </div> <!-- end widget1 -->

                    <div class="col-sm-6 col-md-4">
                        <div id="meta-4" class="widget widgetFooter widget_meta">
                            <!--<h4 class="widgettitle">Subscribe :</h4>-->

                            <!--<div class="form-group">-->
                            <!--<div class="input-group">-->
                            <!--<span class="input-group-addon">E-mail :</span>-->
                            <!--<input class="form-control" placeholder="Write your email .." type="text">-->
                            <!--<span class="input-group-btn">-->
                            <!--<button class="btn btn-primary" type="button">Subscribe !</button>-->
                            <!--</span>-->
                            <!--</div>-->
                            <!--</div>-->

                        </div>
                    </div> <!-- end widget1 -->

                    <div class="col-sm-6 col-md-4">
                        <div id="search-3" class="widget widgetFooter widget_search"><h4 class="widgettitle">Subscribe :</h4>
                            <form action="/letter/" method="post" id="NewsletterForm">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">

                                        <span class="input-group-addon">E-mail :</span>
                                        <input class="form-control" placeholder="Write your email .." type="email"  name="email">
                                        <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">Subscribe !</button>
                    </span>

                                    </div>
                                </div>
                            </form>
                        </div>            </div> <!-- end widget1 -->

                </div> <!-- end .row -->

            </div> <!-- end #footer-wrapper -->

        </div> <!-- end .container -->
    </div> <!-- end #footer-widgets -->


</footer>

<!--<style>-->
<!--#footer {-->
<!--background-color:black;-->
<!--</style>-->
<!--<div id="footer">-->
<!--<div class="container">-->
<!--<form class="form-horizontal" role="form" action="/letter/" method="post" id="NewsletterForm">-->
<!--{% csrf_token %}-->
<!--<div class="form-group">-->
<!--<label class="col-lg-3 control-label">email:</label>-->
<!--<div class="col-lg-8">-->
<!--<input class="form-control" type="email"  name="email">-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label class="col-md-3 control-label"></label>-->
<!--<div class="col-md-8">-->
<!--<input type="submit" class="btn btn-primary" value="Save Changes">-->
<!--<span></span>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->