{% extends "base3.html" %}
<style>
    <style>
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

</style>
{% block title %}
<title>{{ news.title }}</title>
{% endblock %}

{% load comments %}
{% block Nav %}
{% include 'Navbar1.html' %}
{% endblock %}
{% block content%}
<script>
$(document).ready( function() {
$('#q' ).keyup( function() {
var q = $('#q').val();
console.log(q);
$.ajax({
    type: "GET",
    url: "/search/",
    dataType: "html",
    data: {'q': q },
    success: function(data) {
                         $('#results').html(data);
},
});
});
});

</script>
<style>
#id_honeypot {
    display: none;
}

</style>


<div class="w3-row w3-padding-64">
    <div class="w3-container">
        <h1 class="w3-text-teal">{{ news.title }}</h1>
        <h4><i>Posted by {{ news.authors }} on {{ news.pub_date }}</i></h4>
        <p>{{ news.content}}</p>
        <br>
        <div class="center">
            {% if news.image %}
            <img src="{{ news.image.url }}" style="display: block;margin: auto;max-width: 100%;
    height: auto;padding-bottom: 2cm;"/>
            {% endif %}
        </div>

        <a href="https://www.facebook.com/sharer/sharer.php?u=http://newscorner.herokuapp.com/{{ type2 }}/{{ news.slug }}"
           class="fa fa-facebook">    Share on Facebook</a><br>
        <a href="https://twitter.com/home?status=http://newscorner.herokuapp.com/{{ type2 }}/{{ news.slug }}" class="fa fa-twitter">  Share on
            Twitter</a><br>
        <a href="https://plus.google.com/share?url=http://newscorner.herokuapp.com/{{ type2 }}/{{ news.slug }}" class="fa fa-google">   Share on
            Google+</a><br>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://newscorner.herokuapp.com/{{ type2 }}/{{ news.slug }}&title={{ news.title }}=&source=" class="fa fa-linkedin">  Share
            on LinkedIn</a>
    </div>

</div>
{% endblock %}

{% block comment %}

{% include 'list_comment.html' %}
{% endblock %}


