{% extends "base.html" %}
{% block new%}
<script src="http://code.jquery.com/jquery-latest.min.js"
        type="text/javascript"></script>
<script>
$(document).ready( function() {
$('#q' ).keyup( function() {
var q = $('#q').val();
console.log(q);
$.ajax({
    type: "GET",
    url: "/home/search/",
    dataType: "html",
    data: {'q': q },
    success: function(data) {
                         $('#results').html(data);
},
});
});
});
</script>
{% endblock %}
{% block content%}
<div class="w3-main" style="margin-left:250px">
<div id="results">

  {% for new in news_list %}
  <div class="w3-row w3-padding-64">
    <div class="w3-container">
      <div class="w3-container">
        <h3><a href="{% url 'news:news-details' new.news_type.type new.slug %}" class="w3-text-teal w3-hover-white">{{ new.title }}</a></h3>
        <p>{{ new.content|truncatewords:25 }}</p>
          <a href="{% url 'news:news-details' new.news_type.type new.slug %}" class="w3-text-teal w3-hover-white">Read more</a>
      </div>
    </div>
  </div>
 {% endfor %}
</div>
</div>

{% endblock %}

