{% extends "base.html" %}
{% load comments %}
{% load social_share %}
{% block content%}
<script>
$(document).ready( function() {
$('#q' ).keyup( function() {
var q = $('#q').val();
console.log(q);
$.ajax({
    type: "GET",
    url: "/home/search/",
    dataType: "html",
    data: {'q': q },
    success: function(data) {
                         $('#results').html(data);
},
});
});
});
</script>
<style>
#id_honeypot {
    display: none;
}
</style>


  <div class="w3-row w3-padding-64">
    <div class="w3-container">
        <h1 class="w3-text-teal">{{ news.title }}</h1>
        <p>{{ news.content}}</p>
    </div>

  </div>
<div class="center">
{% if news.image %}
    <img src="{{ news.image.url }}" style="display: block;margin: auto;max-width: 100%;
    height: auto;padding-bottom: 2cm;"/>
{% endif %}
<div id="results">
{% render_comment_list for news.news news.id %}
</div>
{% if user.is_authenticated %}
    {% get_comment_form for object as form %}
    <form action="{% comment_form_target %}" onsubmit="return false;" method="POST">
    {% csrf_token %}
    {{ form.comment }}
    {{ form.honeypot }}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    <input type="hidden" name="next" value="{% url 'news:news-details' news.news_type.type news.slug %}" />
    <input type="submit" value="Add comment" id="id_submit" />
    </form>
{% else %}
    <p>Please <a href="/account/login/">log in</a> to leave a comment.</p>
{% endif %}

</div>
<div>
    <pre>










    </pre>
</div>

{% endblock %}


